[submodule "operating_system"]
	path = operating_system
	url = ../windows-operating_system
[submodule "port"]
	path = port
	url = ../windows-port
[submodule "source"]
	path = source
	url = ../simple-source
