[submodule "archive"]
	path = archive
	url = ../windows-archive
[submodule "source"]
	path = source
	url = ../simple-source
[submodule "operating-system"]
	path = operating-system
	url = ../windows-operating-system
